.DS_store
scrapper/data
scrapper/__pycache__
scrapper/scrapper_env

terraform/.terraform/*
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl

airflow/logs
airflow/.env
airflow/tmp/*
airflow/dags/__pycache__
airflow/dags/common_de_project/__pycache__
