.DS_store
scrapper/data
scrapper/__pycache__
scrapper/scrapper_env

terraform/.terraform/providers/registry.terraform.io/hashicorp
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
